<?xml version="1.0" encoding="utf-8"?>
<!--  EDITING THIS FILE
       Following Section is used for data access layer where clauses and formulas
       Please modify this section using Batch Meister Wizard instead of directly
       making changes here.

-->
<configuration>
   <DataAccessLayerWhereClause>
    <WhereClauses>
      <WhereClause Apply="false">
        <LHS>Your-Logged-In-User-Department-Field</LHS>
        <RHS>GetColumnValue("User-Table",UserID(),"Department-Field")</RHS>
        <Operand>=</Operand>
      </WhereClause>
      <WhereClause Apply="false">
        <LHS>Your-Logged-In-User-Field</LHS>
        <RHS>UserID()</RHS>
        <Operand>=</Operand>
      </WhereClause>
      <WhereClause Apply="false">
        <LHS>Your-CompanyId-Field</LHS>
        <RHS>Session("CompanyID")</RHS>
        <Operand>=</Operand>
      </WhereClause>
	  <WhereClause Apply="false">
        <LHS>Your-SalesRepId-Field</LHS>
        <RHS>URL("SalesRepName")</RHS>
        <Operand>=</Operand>
      </WhereClause>
    </WhereClauses>
    <Formulas>
      <Formula Apply="false">
        <ColumnName>CreatedBy</ColumnName>
        <Value>UserID()</Value>
        <Event>Initialize when inserting</Event>
      </Formula>
      <Formula Apply="false">
        <ColumnName>BirthDate</ColumnName>
        <Value>If(BirthDate &gt; Today() , "Birthdate cannot be in the future" , "")</Value>
        <Event>Validate when inserting</Event>
      </Formula>
      <Formula Apply="false">
        <ColumnName>UpdatedOn</ColumnName>
        <Value>Today()</Value>
        <Event>Initialize when updating</Event>
      </Formula>
      <Formula Apply="false">
        <ColumnName>CreatedOn</ColumnName>
        <Value>Today()</Value>
        <Event>Initialize when inserting</Event>
      </Formula>
      <Formula Apply="false">
        <ColumnName>UpdatedBy</ColumnName>
        <Value>UserID()</Value>
        <Event>Initialize when updating</Event>
      </Formula>
	   <Formula Apply="false">
        <ColumnName>CreditCardNumber</ColumnName>
        <Value>EncryptData(CreditCardNumber)</Value>
        <Event>Initialize when updating</Event>
      </Formula>
	  <Formula Apply="false">
        <ColumnName>CreditCardNumber</ColumnName>
        <Value>EncryptData(CreditCardNumber)</Value>
        <Event>Initialize when inserting</Event>
      </Formula>
	  <Formula Apply="false">
        <ColumnName>CreditCardNumber</ColumnName>
        <Value>DecryptData(CreditCardNumber)</Value>
        <Event>Initialize when reading</Event>
      </Formula>
    </Formulas>
  </DataAccessLayerWhereClause>
</configuration>